.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Inter, sans-serif;
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 18px;
}

/* input polje sam preuzela s https://codepen.io/chris__sev/pen/LYOyjY */

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  margin: 20px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* button sam preuzela s https://getcssscan.com/css-buttons-examples */

.button-59 {
  margin: 10px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.repository-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repository-card {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  width: 500px;
}
